################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/jrpgClient/FileContentIndex
/.vs
/out/build/x64-Debug
